.sticky-parent {
    height: 200vh;
    /*margin-bottom: 75vh;*/
}

.loadingBox {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: #cd7776;
}

.loadingBox svg {
    color: #cd7776;
}

.loading {
    color: #cd7776;
}

.landing {
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;

    height: 100vh;

    top: 0;
    left: 0;
    right: 0;
    position: sticky;
}

.logo-box {
    display: flex;

    justify-content: center;
    align-content: center;
    align-items: center;

    transform-origin: center center;
    /*transition-property: transform;*/
    /*transition-duration: 400ms;*/
    grid-area: 1/1;
    place-items: center; /*transition-timing-function: ease-in-out;*/

}

.mask {
    --mask-image: radial-gradient(140% 140% at top right, black 50%, transparent calc(50% + 2px));
    -webkit-mask-image: var(--mask-image);
    mask-image: var(--mask-image);
    background-color: #cd7776;
    width: 100vw;
    height: 100vh;
    display: flex;

    justify-content: center;
    align-content: center;
    align-items: center;
    grid-area: 1/1;
    place-items: center;
}

.grid-box {
    top: 0;
    position: sticky;
    display: grid;
}

.circle {
    border-radius: 50%;
    background-color: rgb(205, 119, 118);
    box-shadow: 0px 0px 250px 0px rgba(205, 119, 118, 0.56);
    position: absolute;
    display: flex;
    left: 0;
    right: 0;
    margin: auto;
    top: -50vh;
    width: 50vw;
    height: 50vw;
    z-index: 5;

    justify-content: center;
    align-content: center;
    align-items: center;
    overflow: hidden;
}

.circle .logo-box {
    transform-origin: center center;
    position: absolute;
}

.landing img {
    width: clamp(15.5rem, 46.5vw, 43rem);
}

.landing p {
    display: flex;
    flex-direction: column;

    font-family: var(--font-dmsans);
    font-size: clamp(0.7rem, 2.7vw, 2.7rem);
    font-weight: 500;
    line-height: clamp(0.9rem, 2.9vw, 2.9rem);

    margin-left: clamp(0.5rem, 2vw, 2rem);
}

.landing span {
    color: rgb(var(--clr-dark-blue), 1);
    transition-property: margin-top, margin-bottom;
    transition-duration: 150ms;
    transition-timing-function: ease-out;
    /*animation-delay: 400ms;*/
    /*animation-timing-function: ease;*/
    /*animation-name: fadeUp;*/
}

.mask span {
    color: rgb(var(--clr-gray));
}

.landing span[data-motion="fade-out"] {
    /*background-color: blue;*/
    animation: fade-up 400ms forwards ease;
}

.landing span[data-motion="fade-back"] {
    /*background-color: blue;*/
    animation: fade-back 400ms forwards ease;
}

.landing span:hover {
    margin-block: 5px;
}

.logo {

}

.test {
    height: 1000px;
}

@keyframes fade-up {
    from {
        opacity: 1;
        transform: translateY(0px);
    }
    to {
        opacity: 0;
        transform: translateY(-30px);
    }
}

@keyframes fade-back {
    to {
        opacity: 1;
        transform: translateY(0px);
    }
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
}


