.main {
    max-width: 100vw;
    min-height: 100vh;
    height: 100vh;
    gap: 4rem;

    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;

    padding-block: 3rem;
    padding-inline: 4rem;
}

.separator {
    width: 100%;
    margin-bottom: 1rem;
    border-bottom: 2px solid #f1f1f1;
}

/* Key Pop-up */
.AlertDialogOverlay {
    background-color: rgb(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    position: fixed;
    inset: 0;
    z-index: 1;
    animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.AlertDialogContent {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0px 0px 85px -30px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    width: 90vw;
    max-width: 25rem;
    max-height: 85vh;
    padding: 1.8rem;
    z-index: 2;
    animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.AlertDialogContent:focus {
    outline: none;
}

.AlertDialogTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    color: rgb(var(--clr-dark-blue));
    font-family: var(--font-dmsans);
    font-size: 1.2rem;
    font-weight: 500;
}

.AlertDialogTitle svg {
    width: 1.5rem;
    padding: .1rem;
    color: rgb(var(--clr-dark-blue));
    opacity: 50%;
    border-radius: 1rem;
}

.AlertDialogTitle svg:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.AlertDialogDescription {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0.5rem;

    font-family: var(--font-dmsans);
    color: rgb(var(--clr-dark-blue));
    font-size: 15px;
}

.Button {
    font-family: var(--font-poppins);
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 0.15rem;
    border: none;
    cursor: pointer;
    width: 100%;
    background-color: #cd7776;
    color: rgb(var(--clr-gray));
    height: 2.5rem;
    border-radius: 0.5rem;
    margin-top: 0.7rem;
}

.Button:focus {
    outline: none;
}

@keyframes overlayShow {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes contentShow {
    from {
        opacity: 0;
        transform: translate(-50%, -48%) scale(0.96);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

.pin-container {
    margin-top: 1rem;
    gap: 0.6rem;
}

.pin-input {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    font-family: var(--font-poppins);
    border-radius: 0.5rem;
    background-color: #f1f1f1;
    color: rgb(var(--clr-dark-blue));
    border: none;
    font-size: 1rem;
    height: 3rem;
    min-width: 3rem;
}

.pin-input:focus {
    outline: 1px solid rgb(var(--clr-peach));
}

.pin-input[wrong-pin="true"] {
    animation: wrong-pin 600ms ease;
}

.pin-input:valid {
    outline: 1px solid #cd7776;
}

/*Radio group styling*/
.RadioGroupRoot {
    margin-block: 1rem;
    display: flex;
    border-radius: 0.5rem;
    width: 100%;
    border: 2px solid #f1f1f1;
}

.RadioGroupItem {
    background-color: white;
    width: 50%;
    height: 2.5rem;
    position: relative;
    border-radius: 0.5rem;
    border: none;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-family: var(--font-dmsans);
    color: rgb(var(--clr-dark-blue));
}

.RadioGroupItem label {
    z-index: 2;
}

.RadioGroupItem:hover {
    background-color: rgba(241, 241, 241, 0.3);
}

.RadioGroupItem:focus {
    outline: none;
}

.RadioGroupIndicator {
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    bottom: 0;
    justify-content: center;
    outline: 2px solid #cd7776;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 0.5rem;
    z-index: 1;
}

@keyframes wrong-pin {
    0% {
        outline: 1px rgba(255, 0, 0, 0.5) solid;
    }
    15% {
        transform: translateX(-0.4rem);
        outline: 1px rgba(255, 0, 0, 0.5) solid;
    }
    30% {
        transform: translateX(0.4rem);
        outline: 1px rgba(255, 0, 0, 0.5) solid;
    }
    45% {
        transform: translateX(-0.4rem);
        outline: 1px rgba(255, 0, 0, 0.5) solid;
    }
    60% {
        transform: translateX(0.4rem);
        outline: 1px rgba(255, 0, 0, 0.5) solid;
    }
    75% {
        transform: translateX(-0.4rem);
        outline: 1px rgba(255, 0, 0, 0.5) solid;
    }
    90% {
        transform: translateX(0.4rem);
        outline: 1px rgba(255, 0, 0, 0.5) solid;
    }
    100% {
        transform: translateX(0);
        outline: none;
    }
}

/*Vertical Navbar*/
.nav {
    background-color: white;
    color: rgb(var(--clr-dark-blue));
    border-radius: 2rem;
    height: 100%;
    min-width: 25rem;
    max-width: 25rem;
    box-shadow: 0px 0px 90px -50px rgba(0, 0, 0, 0.01);
    font-family: var(--font-dmsans);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-inline: 2rem;
    padding-block: 1rem;
    z-index: 0;
    position: relative;
}

.profile {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    min-height: 6rem;
    max-height: 6rem;
    border-bottom: 2px solid #f1f1f1;
}

.profile-details {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    max-width: 100%;
    width: 100%;
    margin-left: 1rem;
}

.profile-details > p {
    max-width: 15ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.profile-details h1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.2rem;
}

.profile-details > p > span {
    font-family: var(--font-poppins);
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    font-weight: 500;
}

.profile > svg {
    min-width: 4rem;
    max-width: 4rem;
}

.sign-out {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 0.8rem;
    border: none;
    overflow: clip;
    background-color: #f1f1f1;
    cursor: pointer;
}

.sign-out > svg {
    cursor: pointer;
    color: rgb(var(--clr-dark-blue));
    width: 1.7rem;
}

.content {
    /*background-color: white;*/
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    /*box-shadow: 0px 0px 90px -37px rgba(0,0,0,0.1);*/
}

/*Options*/
.options {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.8rem;
    width: 100%;
    padding-block: 1rem;
    margin-top: 1rem;
}

.choice:hover {
    background-color: #f1f1f1;
}

.choice {
    height: 4rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 98%;
    color: rgb(var(--clr-dark-blue));
    cursor: pointer;
    transition: 0.3s ease all;
}

.choice[data-selected="true"] {
    background-color: rgb(var(--clr-dark-pink));
    width: 100%;
    color: rgb(var(--clr-gray));
}

.choice > svg {
    max-width: 2.5rem;
    margin-left: 1rem;
}

.choice > p {
    font-family: var(--font-dmsans);
    font-weight: 500;
    font-size: 1.3rem;
    margin-left: 0.5rem;
    white-space: nowrap;
}

.choice > div > span {
    background-color: #f1f1f1;
    padding-inline: 1rem;
    border-radius: 0.4rem;
    padding-block: 0.2rem;
}

.choice[data-selected="true"] > div > span {
    background-color: rgb(var(--clr-gray));
    color: #cd7776;
}

.choice > div {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    margin-right: 1rem;
}

.nav-logo {
    position: absolute;
    bottom: 3rem;
    left: 9.8rem;
    width: 5rem;
}

.nav-logo img {
    width: 5rem;
}

/*inocLocker*/
.il-container {
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 0px 0px 90px -50px rgba(0, 0, 0, 0.01);
    border-radius: 2rem;
    color: rgb(var(--clr-dark-blue));
    font-family: var(--font-dmsans);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-inline: 3rem;
    padding-block: 1rem;
}

.il-header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    min-height: 6rem;
    max-height: 6rem;
    border-bottom: 2px solid #f1f1f1;
}

.il-header > p > span {
    font-family: var(--font-poppins);
}

.il-body {
    margin-top: 1.5rem;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
    height: 100%;
    width: 100%;
}

.il-buttons {
}

.il-buttons button {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    cursor: pointer;
    background-color: #cd7776;
    font-family: var(--font-poppins);
    color: rgb(var(--clr-gray));
    border: none;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.15rem;
    padding: 0.7rem 1.5rem;
    border-radius: 1rem;
}

.il-buttons button > svg {
    width: 1.4rem;
    margin-right: 0.5rem;
}

/*Upload pop-up*/
.upload-input {
    height: 3rem;
    position: relative;
    margin-top: 1rem;
}

.upload-input input {
    font-family: var(--font-dmsans);
    color: rgb(var(--clr-dark-blue));
    padding-inline: 1rem;
    font-size: 1.1rem;
    border-radius: 1rem;
    height: 100%;
    width: 100%;
    border: none;
    background-color: #f1f1f1;
}

.upload-input input:focus {
    outline: none;
    border: 1px solid rgb(var(--clr-peach));
}

.upload-input span {
    position: absolute;
    right: 1rem;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.upload-input span > svg {
    color: #cd7776;
}

.upload-input > svg {
    position: absolute;
    right: 1rem;
    width: 1.7rem;
    top: 0;
    bottom: 0;
    margin: auto 0;
    color: #cd7776;
}

.upload-input button {
    font-family: var(--font-poppins);
    font-weight: 500;
    color: rgb(var(--clr-dark-blue));
    background-color: #f1f1f1;
    border-radius: 1rem;
    cursor: pointer;
    border: none;
    position: absolute;
    right: 1rem;
    top: 0;
    bottom: 0;
    margin: auto 0;
    height: 2rem;
}

.upload-input button:hover {
    color: #cd7776;
}

.upload-file input[type="file"] {
    display: none;
}

.upload-file {
    border-radius: 1rem;
    color: rgb(var(--clr-dark-blue));
    padding: 1rem;
    text-align: center;
    font-family: var(--font-dmsans);
    display: inline-block;
    margin-top: 1rem;
    width: 100%;
    border: 2px dashed rgba(var(--clr-dark-blue), 0.2);
}

.upload-file span {
    opacity: 50%;
    font-size: 0.8rem;
}

.upload-file svg {
    color: #cd7776;
    width: 3rem;
}

.file {
    flex: 1;
    width: 100%;
    height: 3rem;
    margin-top: 1rem;
    border: 1px solid #cd7776;
    padding-inline: 1rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    font-family: var(--font-dmsans);
    position: relative;
}

.file > div {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.file > span {
    font-size: 0.8rem;
    font-family: var(--font-dmsans);
    font-weight: 500;
    color: rgb(var(--clr-dark-blue));
}

.file > div > p {
    max-width: 15ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgb(var(--clr-dark-blue));
}

.file > div > span {
    font-family: var(--font-poppins);
    text-transform: uppercase;
    background-color: #cd7776;
    font-weight: 500;
    color: rgb(var(--clr-gray));
    margin-left: 0.4rem;
    padding-inline: 0.4rem;
    border-radius: 0.3rem;
}

.file > button {
    border: none;
    background-color: rgba(241, 241, 241, 1);
    position: absolute;
    font-family: var(--font-dmsans);
    padding-inline: 0.5rem;
    border-radius: 0.3rem;
    height: 1.5rem;
    right: 1rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: none;
    cursor: pointer;
    z-index: 5;
}


.file:hover > button {
    display: flex;
}

.file > button > svg {
    width: 1.5rem;
    color: rgb(var(--clr-dark-blue));
}

.upload-actions {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    gap: 0.5rem;
}

.upload-actions button {
    height: 2rem;
    padding-inline: 1rem;
    font-family: var(--font-dmsans);
    border-radius: 0.5rem;
    font-size: 1rem;
    border: none;
}

.upload-cancel-button {
    background-color: #f1f1f1;
    color: rgb(var(--clr-dark-blue));
}

.upload-confirm-button {
    font-weight: 500;
    color: rgb(var(--clr-gray));
    background-color: #cd7776;
}

/*File styling*/
.ContextMenuTrigger {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 2px #f1f1f1 solid;
    border-radius: 0.5rem;
    color: rgb(var(--clr-dark-blue));
    font-family: var(--font-dmsans);
    position: relative;
    user-select: none;
    padding: 45px 0;
    width: 15rem;
    height: 15rem;
    flex-direction: column;
}

.DetailContainer {
    border-bottom: 2px solid #f1f1f1;
    width: 100%;
    display: flex;
    justify-content: center;
}

.FileType {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.8rem;
    font-family: var(--font-poppins);
    background-color: #cd7776;
    padding: 0.1rem 0.5rem;
    border-radius: 0.3rem;
    color: rgb(var(--clr-gray));
    margin-bottom: 0.5rem;
}

.FileName {
    text-align: center;
    max-lines: 2;
    word-break: break-all;
    color: rgb(var(--clr-dark-blue));
    font-weight: 500;
    max-width: 14ch;
    font-size: 1.2rem;
    font-family: var(--font-dmsans);
    overflow: hidden;
    text-overflow: ellipsis;
    margin-block: 0.5rem;
}

.FileSize {
    margin-block: 0.5rem;
    color: rgb(var(--clr-dark-blue));
}

.FileOwner {
    background-color: #f1f1f1;
    padding: 0 0.5rem;
    margin-top: 0.5rem;
    border-radius: 0.3rem;
}

.ContextMenuContent {
    min-width: 6rem;
    background-color: white;
    border-radius: 0.8rem;
    overflow: hidden;
    padding: 0.4rem;
    border: 2px solid #f1f1f1;
}

.ContextMenuSeparator {
    height: 2px;
    background-color: #f1f1f1;
    margin: 5px;
}

.ContextMenuItem {
    font-family: var(--font-dmsans);
    font-size: 1.0rem;
    color: rgb(var(--clr-dark-blue));
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    padding-block: 0.3rem;
    padding-left: 1rem;
    padding-right: 0.7rem;
    position: relative;
    user-select: none;
    outline: none;
}

.ContextMenuItem[data-disabled] {
    color: #f1f1f1;
    pointer-events: none;
}

.ContextMenuItem[data-highlighted] {
    background-color: rgb(var(--clr-dark-pink));
    color: rgb(var(--clr-gray));
}

.RightSlot {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    padding-left: 2.5rem;
    color: #cd7776;
}

.RightSlot svg {
    height: 1rem;
}

[data-highlighted] > .RightSlot {
    color: white;
}

[data-disabled] .RightSlot {
    color: rgb(var(--clr-gray));
}

.ContextMenuDot {
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 100%;
    background-color: #f1f1f1;
}

.ContextMenuDot:nth-of-type(1) {
    top: 0.5rem;
    left: 0.5rem;
}

.ContextMenuDot:nth-of-type(2) {
    top: 0.5rem;
    right: 0.5rem;
}

.ContextMenuDot:nth-of-type(3) {
    bottom: 0.5rem;
    left: 0.5rem;
}

.ContextMenuDot:nth-of-type(4) {
    bottom: 0.5rem;
    right: 0.5rem;
}

.detail-input {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: .5rem;
    padding: .5rem;
    height: 3rem;
    width: 100%;
    background-color: #f1f1f1;
    margin-bottom: .5rem;
}

.detail-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.detail-input input {
    font-family: var(--font-poppins);
    color: rgb(var(--clr-dark-blue));
    display: flex;
    align-items: center;
    align-content: center;
    font-size: 1rem;
    padding-inline: .5rem;
    border-radius: .5rem;
    border: none;
    background: none;
    width: 100%;
    height: 100%;
}

.detail-input input:focus {
    outline: none;
}

.detail-box[data-valid="true"] {
    border: 1px solid #cd7776;
}

.detail-input:focus-within {
    outline: none;
    border: 1px solid rgb(var(--clr-peach));
}

.detail-input > span {
    font-family: var(--font-dmsans);
    font-weight: 500;
    color: #cd7776;
    margin-left: 0.3rem;
    margin-right: 0.1rem;
}

.detail-input[data-value="number"] input {
    display: flex;
    justify-content: center;
}

.detail-input[data-value="age"] input {
    text-align: center;
}

.detail-input[data-value="age"] {
    max-width: 8ch;
}

.detail-grid {
    width: 100%;
    overflow: clip;
    display: flex;
    justify-content: space-between;
    gap: .5rem;
}

.SelectContent {
    background-color: white;
    border-radius: 0.8rem;
    overflow: hidden;
    padding: 0.4rem;
    border: 2px solid #f1f1f1;
    z-index: 10;
}

.SelectViewport {
    max-width: 100%;
    min-width: 100%;
}

.SelectItem {
    font-family: var(--font-dmsans);
    font-size: 1.0rem;
    color: rgb(var(--clr-dark-blue));
    border-radius: 0.5rem;
    text-align: center;
    max-width: 100%;
    min-width: 100%;
    padding-block: 0.3rem;
    user-select: none;
    outline: none;
}

.SelectItem[data-highlighted] {
    background-color: rgb(var(--clr-dark-pink));
    color: rgb(var(--clr-gray));
}

.SelectTrigger {
    flex: 1;
    display: flex;
    font-family: var(--font-poppins);
    color: rgb(var(--clr-dark-blue));
    border: none;
    align-items: center;
    max-width: 40%;
    justify-content: center;
    border-radius: .5rem;
    font-size: 1rem;
    height: 3rem;
    background-color: #f1f1f1;
}

.SelectTrigger:hover {
    outline: none;
    border: 1px solid rgb(var(--clr-peach));
}

.SelectTrigger:focus {
    outline: none;
    border: 1px solid rgb(var(--clr-peach));
}

.SelectTrigger[data-placeholder] {
    color: #878f9d;
}

/*Personal Dashboard*/
.pd {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
    width: 100%;
    /*gap: 4rem;*/
    max-width: 100%;
    overflow: clip;
    background-color: white;
    border-radius: 2rem;
    box-shadow: 0px 0px 90px -50px rgba(0, 0, 0, 0.01);
}

.pd-right {
    color: rgb(var(--clr-dark-blue));
    font-family: var(--font-dmsans);
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100%;
    padding: 3rem 3rem;
    gap: 2rem;
}

.pd-title {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-dmsans);
    color: rgb(var(--clr-dark-blue));
    font-weight: 600;
    font-size: 1.5rem;
}

.pd-title > div {
    display: flex;
    flex-direction: column;
}

.pd-title > div > span {
    font-size: 1rem;
    font-weight: 400;
}

.pd-title button {
    background-color: #cd7776;
    border: none;
    color: rgb(var(--clr-gray));
    padding: .6rem;
    border-radius: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pd-title svg {
    color: rgb(var(--clr-gray));
    width: 1.3rem;
}

.pd-left {
    height: 100%;
    min-width: 26.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: white;
    padding-inline: 3rem;
    padding-block: 2rem;
    border-right: 2px #f1f1f1 solid;
}

.pd-profile {
    border-radius: 2rem;
    background-color: white;
    padding-inline: 3rem;
    padding-block: 1rem;
}

.pd-details {
    border: 2px #f1f1f1 solid;
    height: 100%;
    width: 100%;
    border-radius: .8rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    max-width: 100%;
    display: grid;
    padding: 0 1.5rem;
    grid-template-columns: 1fr;
}

.pd-details label {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-content: center;
    align-items: center;
    border-bottom: 2px solid #f1f1f1;
}

.pd-details label:last-of-type {
    border-bottom: none;
}

.pd-details > button {
    padding: .5rem 2rem;
    background-color: #cd7776;
    font-size: 1rem;
    font-family: var(--font-poppins);
    font-weight: 500;
    color: rgb(var(--clr-gray));
    border-radius: .5rem;
    border: none;
}

.pd-details label > span {
    font-family: var(--font-poppins);
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    color: #cd7776;
}

.pd-details label > p {
    font-family: var(--font-dmsans);
    font-size: 1.2rem;
    color: rgb(var(--clr-dark-blue));
    text-align: right;
}

.pd-locker {
    background-color: white;
    height: 60%;
    border-radius: 2rem;
    padding-inline: 3rem;
    padding-block: 1rem;
}

.pd-rbox {
    flex: 1;
    width: 100%;
    max-height: 16rem;
    border-radius: 1rem;
    border: 2px solid #f1f1f1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.pd-rbox-title {
    border-bottom: 2px #f1f1f1 solid;
    padding-inline: 1rem;
    min-height: 3rem;
    max-height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: clip;
    font-family: var(--font-dmsans);
    font-weight: 500;
    color: var(--clr-dark-blue);
    font-size: 1.1rem;
}

.pd-rbox-title > p > span {
    background-color: #f1f1f1;
    border-radius: .3rem;
    padding-inline: .5rem;
    padding-block: .2rem;
    font-size: .8rem;
    text-transform: uppercase;
    font-family: var(--font-poppins);
    letter-spacing: .05rem;
    margin-left: .5rem;
}

.pd-rbox-box {
    height: 100%;
    max-width: 100%;
    overflow: auto;
    display: flex;
    position: relative;
}

.pd-rbox-boxc {
    display: flex;
    position: absolute;
    padding: 1.5rem 1.5rem;
    gap: 1.5rem;
    height: 100%;
}

.pd-rbox-title > button {
    border: none;
    background: none;
    font-family: var(--font-dmsans);
    color: #cd7776;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.pd-rbox-title > button:hover > span {
    border-bottom: 1px #cd7776 solid;
}

.pd-rbox-title > button > svg {
    width: 1.2rem;
    margin-left: .5rem;
}

@media screen and (max-width: 1599px) {
    .pd-rbox-title > p > span {
        display: none;
    }
}

@media screen and (max-width: 1400px) {
    .pd-rbox-title > button > span {
        display: none;
    }
}

.file-preview {
    height: 100%;
    width: 9rem;
    border-radius: .7rem;
    background-color: rgba(241, 241, 241, 0.34);
    color: rgb(var(--clr-dark-blue));
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid rgba(220, 220, 220, 0.95);
}

.file-preview > span {
    background: #cd7776;
    font-family: var(--font-poppins);
    text-transform: uppercase;
    padding: .1rem .5rem;
    font-size: .9rem;
    color: rgb(var(--clr-gray));
    font-weight: 500;
    border-radius: .3rem;
}

.file-preview > h1 {
    color: rgb(var(--clr-dark-blue));
    font-size: 1rem;
    max-width: 10ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: .8rem;
    font-family: var(--font-dmsans);
}

.file-preview > p {
    color: rgb(var(--clr-dark-blue));
    font-size: .9rem;
}

.file-preview > svg {
    display: none;
    color: #cd7776;
    max-width: 2rem;
}

.file-preview:hover {
    outline: 1px solid #cd7776;
}

.file-preview:hover > span {
    display: none;
}

.file-preview:hover > svg {
    display: block;
}

.pd-bottom-box {
    flex: 1;
    width: 100%;
    border-radius: 1rem;
    border: 2px solid #f1f1f1;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.pd-history {
    flex: 1;
    border-right: 2px solid #f1f1f1;
}

.pd-symptosis {
    flex: 1;
    max-width: 16rem;
    min-width: 6rem;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: relative;
    background-color: rgba(241, 241, 241, 0.33);
}

.pd-symptosis > h2 {
    position: absolute;
    top: .8rem;
    text-align: center;
    font-size: 1rem;
    font-family: var(--font-dmsans);
    background-color: #cd7776;
    padding: .3rem .8rem;
    border-radius: .5rem;
    color: rgb(var(--clr-gray));
    font-weight: 500;
}

.symptosis-patient {
    background-color: white;
    box-shadow: 0px 0px 90px -50px rgba(0, 0, 0, 0.01);
    border-radius: 1.5rem;
    color: rgb(var(--clr-dark-blue));
    font-family: var(--font-dmsans);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-inline: 1.9rem;
    padding-block: 1.5rem;
    max-width: 28rem;
}

.sp-title {
    font-size: 1.2rem;
    font-weight: 500;
    padding-bottom: .5rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid #f1f1f1;
    width: 100%;
}

.symptosis-patient textarea {
    background: #f1f1f1;
    margin-top: 1rem;
    border-radius: .5rem;
    border: none;
    resize: none;
    font-size: 1rem;
    padding: .5rem 1rem;
    font-family: var(--font-poppins);
    color: rgb(var(--clr-dark-blue));
    display: flex;
    max-height: 4.1rem;
    margin-bottom: 1rem;
}

.symptosis-patient textarea:focus {
    border: 1px solid #cd7776;
    outline: none;
}

.symptosis-doctor {

}

.symptosis-symptoms {
    display: flex;
    gap: .5rem;
    margin-top: 1rem;
    flex-direction: column;
    width: 100%;
}

.SymptomTrigger {
    background-color: #f1f1f1;
    border: none;
    border-radius: .5rem;
    height: 3rem;
    text-align: left;
    font-family: var(--font-poppins);
    color: rgb(var(--clr-dark-blue));
    font-size: 1rem;
    padding: 0 1rem;
}

.SymptomContent {
    max-height: 5rem;
    background-color: white;
    border-radius: 0.8rem;
    overflow: hidden;
    padding: 0.4rem;
    border: 2px solid #f1f1f1;
    z-index: 10;
    right: 0;
}

.SymptomViewport {
}

.SymptomItem {
    font-family: var(--font-dmsans);
    font-size: 1.0rem;
    color: rgb(var(--clr-dark-blue));
    /*text-align: center;*/
    max-width: 100%;
    min-width: 100%;
    padding-block: .3rem;
    padding-inline: .5rem;
    user-select: none;
    outline: none;
    display: flex;
    justify-content: space-between;
    /*border-bottom: 2px solid #f1f1f1;*/
}

.SymptomItem[data-highlighted] {
    border-radius: 0.5rem;
    background-color: rgb(var(--clr-dark-pink));
    color: rgb(var(--clr-gray));
}

.SymptomItem[data-disabled] {
    /*border-radius: 0.5rem;*/
    /*background-color: rgb(var(--clr-dark-pink));*/
    /*color: rgb(var(--clr-gray));*/
    opacity: 20%;
}

.ItemSpacing {
    width: 100%;
    text-align: right;
}

.SymptomSeparator {
    height: 1px;
    background: #f1f1f1;
    margin: 5px;
}

.SymptomTrigger:hover {
    outline: none;
    border: 1px solid rgb(var(--clr-peach));
}

.SymptomTrigger:focus {
    outline: none;
    border: 1px solid rgb(var(--clr-peach));
}

.SymptomTrigger[data-placeholder] {
    color: #878f9d;
}

.DoctorTrigger:hover {
    outline: none;
    border: 1px solid rgb(var(--clr-peach));
}

.DoctorTrigger:focus {
    outline: none;
    border: 1px solid rgb(var(--clr-peach));
}

.DoctorTrigger[data-placeholder] {
    color: #878f9d;
}

.SeverityTrigger:hover {
    outline: none;
    border: 1px solid rgb(var(--clr-peach));
}

.SeverityTrigger:focus {
    outline: none;
    border: 1px solid rgb(var(--clr-peach));
}

.SeverityTrigger[data-placeholder] {
    color: #878f9d;
}

.sp-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.sp-left-buttons {
    margin-right: 1rem;
    display: flex;
    gap: .3rem;
}

.sp-left-buttons button {
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    border-radius: 1rem;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.sp-left-buttons button > svg {
    width: 1.8rem;
    color: rgb(var(--clr-dark-blue));
}

.SelectLabel {
    font-size: .9rem;
    padding: 0 .5rem;
    margin-bottom: .5rem;
    font-weight: 500;
    font-family: var(--font-dmsans);
    color: rgb(var(--clr-dark-pink));
}

.DoctorTrigger {
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #f1f1f1;
    border: none;
    border-radius: .5rem;
    width: 100%;
    height: 3rem;
    text-align: left;
    font-family: var(--font-poppins);
    color: rgb(var(--clr-dark-blue));
    font-size: 1rem;
    padding: 0 1rem;
}

.SeverityTrigger {
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #f1f1f1;
    border: none;
    border-radius: .5rem;
    height: 3rem;
    text-align: left;
    font-family: var(--font-poppins);
    color: rgb(var(--clr-dark-blue));
    font-size: 1rem;
    padding: 0 1rem;
}

.SelectScrollButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    background-color: white;
    color: rgb(var(--clr-dark-pink));
    cursor: default;
}

.SelectScrollButton svg {
    width: 1rem;
}

.sp-buttons > button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0 1rem;
    min-width: 10rem;
    max-width: 100%;
    background-color: #f1f1f1;
    border-radius: .5rem;
    gap: .5rem;
    /*text-transform: uppercase;*/
    font-family: var(--font-dmsans);
    color: rgb(var(--clr-dark-blue));
    font-size: 1rem;
}

.sp-buttons button[data-attached="true"] {
    /*background: #cd7776;*/
    border: 1px solid #cd7776;
    background: none;
    /*color: rgb(var(--clr-gray));*/
}

.sp-buttons > button > span {
    max-width: 15ch;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sp-buttons > button > svg {
    width: 1.3rem;
}

.select-file {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 3rem;
    max-height: 3rem;
    border: 2px #f1f1f1 solid;
    background: none;
    border-radius: .5rem;
    padding: 0 1rem;
    font-family: var(--font-dmsans);
    color: rgb(var(--clr-dark-blue));
}

.select-file:hover {
    background: #f1f1f1;
}

.select-file h1 {
    font-weight: 400;
    display: flex;
    font-size: 1rem;
}

.select-file h1 > span {
    text-transform: uppercase;
    background: #cd7776;
    font-family: var(--font-poppins);
    color: rgb(var(--clr-gray));
    font-weight: 500;
    font-size: .8rem;
    border-radius: .3rem;
    padding: .1rem .5rem;
    margin-right: .5rem;
}

.select-file h1 > p {
    max-width: 15ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.select-file > span {
    font-family: var(--font-dmsans);
    color: rgb(var(--clr-dark-blue));
    font-weight: 500;
}

.SelectFileDescription {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
    gap: .5rem;
    overflow: auto;
    max-height: 25rem;

    font-family: var(--font-dmsans);
    color: rgb(var(--clr-dark-blue));
    font-size: 15px;
}

.symptosis-submit {
    width: 100%;
    border-radius: .5rem;
    border: none;
    margin-top: 1rem;
    font-size: 1.1rem;
    height: 3rem;
    background: #cd7776;
    font-weight: 500;
    font-family: var(--font-poppins);
    letter-spacing: .1rem;
    color: rgb(var(--clr-gray));
}

.symptosis-submit[data-valid="false"] {
    display: none;
}

.symptosis-select-doc {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.loadingBox {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 100vh;
    color: #cd7776;
}

.loading {
    color: #cd7776;
}

.case {
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 0px 0px 90px -50px rgba(0, 0, 0, 0.01);
    border-radius: 2rem;
    color: rgb(var(--clr-dark-blue));
    font-family: var(--font-dmsans);
    overflow: clip;

    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 3rem;
    padding-block: 2.5rem;
}

.case-container {
    border-radius: 1.5rem;
    width: 100%;
    height: 100%;
    border: 2px solid #f1f1f1;
    display: flex;
    flex-direction: column;
}

.case-title {
    height: 4.25rem;
    width: 100%;
    border-bottom: 2px solid #f1f1f1;
    display: flex;
    overflow: clip;
    align-items: center;
    justify-content: space-between;
}

.case-title > p {
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.case-title > p > span {
    font-family: var(--font-poppins);
    background-color: #f1f1f1;
    padding: .3rem .9rem;
    border-radius: .5rem;
    margin: 0 1rem;
    font-size: .9rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}

.case-title > p > span > svg {
    width: 1rem;
    margin-right: .2rem;
}

.case-title > button {
    border: none;
    font-family: var(--font-poppins);
    font-weight: 500;
    letter-spacing: .1rem;
    padding: .5rem 1rem;
    background: #f1f1f1;
    color: rgb(var(--clr-dark-blue));
    border-radius: .5rem;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.case-title > button > svg {
    width: 1.3rem;
    margin-right: .5rem;
}

.case-body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.case-details {
    min-width: 30rem;
    max-width: 30rem;
    height: 100%;
    border-right: 2px solid #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.case-details-block {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
}

.case-details-block:last-of-type {
    border-top: 2px solid #f1f1f1;
}

.case-icon {
    height: 100%;
    min-width: 4.5rem;
    max-width: 4.5rem;
    border-right: 2px solid #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.case-icon > svg {
    width: 2.3rem;
    color: #cd7776;
}

.case-data {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    width: 100%;
}

.case-data > label {
    padding: .2rem 1rem;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-content: center;
    border-bottom: 2px solid #f1f1f1;
    max-width: 100%;
    min-width: 100%;
}

.case-data > label:last-of-type {
    border-bottom: none;
}

.case-data > label > span {
    text-transform: uppercase;
    font-family: var(--font-poppins);
    color: #cd7776;
    font-weight: 600;
    letter-spacing: .1rem;
    font-size: .9rem;
}

.case-data > label > p {
    max-width: 100%;
    overflow-wrap: anywhere;
    font-size: 1.1rem;
}

.case-data > label > div {
    margin-top: .3rem;
    height: 2rem;
    border-radius: .5rem;
    font-family: var(--font-poppins);
    color: rgb(var(--clr-dark-blue));
    padding-inline: 1rem;
    border: #f1f1f1 2px solid;
    background: #f1f1f1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.case-data > label > div > span {
    font-size: .9rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    max-width: 20ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.case-data > label > div:hover {
    border: #cd7776 1px solid;
    color: #cd7776;
    background: none;
}

.case-data > label > div > svg {
    width: 1rem;
}

.case-analysis {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.case-ai {
    min-height: 14rem;
    width: 100%;
    padding: 1rem 1rem;
    border-bottom: 2px solid #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.case-ai-data {
    margin-left: 1rem;
}

.case-ai-data > h3 {
    letter-spacing: .1rem;
    font-family: var(--font-poppins);
    font-weight: 600;
    text-transform: uppercase;
}

.case-ai-data > p {
    font-size: 1.1rem;
}

.case-ai-data > div {
    background-color: #f1f1f1;
    max-width: 45ch;
    padding: .5rem 1rem;
    border-radius: .5rem;
    margin-top: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.case-ai-data > div > span {
    display: flex;
    justify-content: center;
    align-items: center;
    /*padding-right: 1rem;*/
    margin-right: .8rem;
    /*border-right: 1px solid rgb(var(--clr-dark-blue));*/
}

.case-ai-data > div > span > svg {
    width: 1.8rem;
}

.case-ai > svg {
    margin-right: 1rem;
    width: 5.5rem;
}

.case-chat {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.case-chat-body {
    display: flex;
    flex-direction: column-reverse;
    margin: 1.5rem 2rem;
    border: 2px solid #f1f1f1;
    border-radius: .9rem;
    align-items: center;
    font-size: 1.1rem;
    gap: .5rem;
    /*width: 100%;*/
    height: 100%;
    margin-bottom: 0;
    position: relative;
    overflow: clip;
}

.case-chat-title {
    position: absolute;
    top: 0;
    left: 0;
    height: 3rem;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #f1f1f1;
    background-color: white;
    padding-inline: 2rem;
    font-family: var(--font-poppins);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .1rem;
    color: #cd7776;
    width: 100%;
}

.case-chat-title > p > span {
    margin-left: .5rem;
    font-weight: 500;
    color: rgb(var(--clr-dark-blue));
    font-size: .9rem;
}

.case-chat-title > span {
    display: flex;
    align-items: center;
    font-size: .9rem;
    margin-left: .6rem;
    font-family: var(--font-dmsans);
    text-transform: lowercase;
    border-radius: .5rem;
    font-weight: 400;
    color: rgb(var(--clr-dark-blue));
    letter-spacing: 0.01rem;
    background-color: #f1f1f1;
    padding: .2rem .5rem;
}

.case-chat-bodyc {
    display: flex;
    gap: .5rem;
    justify-content: flex-end;
    flex-direction: column;
    padding: 1.5rem 2rem;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: auto;
}

.case-msg-sent {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.case-msg-sent > p {
    background-color: #cd7776;
    padding: .5rem 1rem;
    border-radius: .5rem;
    color: rgb(var(--clr-gray));
    max-width: 40%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.case-msg-recieved {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.case-msg-recieved > p {
    background-color: #f1f1f1;
    padding: .5rem 1rem;
    border-radius: .5rem;
    max-width: 60%;
}

.case-chat-input {
    background-color: #f1f1f1;
    border-radius: .9rem;
    min-height: 3rem;
    max-height: 3rem;
    margin: 1.5rem 2rem;
    margin-top: .9rem;
    position: relative;
}

.case-chat-input > input {
    width: 100%;
    height: 100%;
    border-radius: .9rem;
    border: none;
    background: none;
    padding: 1rem 2rem;
    font-family: var(--font-dmsans);
    font-size: 1rem;
    color: rgb(var(--clr-dark-blue));
}

.case-chat-input > input:focus {
    outline: none;
    border: 1px solid #cd7776;
}

.case-chat-input > button {
    position: absolute;
    right: 2rem;
    border: none;
    background: none;
    top: 0;
    color: rgb(var(--clr-dark-blue));
    bottom: 0;
    margin: auto 0;
    cursor: pointer;
}

.case-chat-input > button > svg {
    width: 1.5rem;
}