.main {
    max-width: 100vw;
    min-height: 100vh;
    height: 100vh;
    gap: 4rem;

    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;

    padding-block: 3rem;
    padding-inline: 4rem;
}

.separator {
    width: 100%;
    margin-bottom: 1rem;
    border-bottom: 1px solid #f1f1f1;
}

/* Key Pop-up */
.AlertDialogOverlay {
    background-color: rgb(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    position: fixed;
    inset: 0;
    z-index: 1;
    animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.AlertDialogContent {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0px 0px 85px -30px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    width: 90vw;
    max-width: 25rem;
    max-height: 85vh;
    padding: 1.8rem;
    z-index: 2;
    animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.AlertDialogContent:focus {
    outline: none;
}

.AlertDialogTitle {
    margin: 0;
    color: rgb(var(--clr-dark-blue));
    font-family: var(--font-dmsans);
    font-size: 1.2rem;
    font-weight: 500;
}

.AlertDialogDescription {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0.5rem;

    font-family: var(--font-dmsans);
    color: rgb(var(--clr-dark-blue));
    font-size: 15px;
}

.Button {
    font-family: var(--font-poppins);
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 0.15rem;
    border: none;
    cursor: pointer;
    width: 100%;
    background-color: #cd7776;
    color: rgb(var(--clr-gray));
    height: 2.5rem;
    border-radius: 0.5rem;
    margin-top: 0.7rem;
}

.Button:focus {
    outline: none;
}

@keyframes overlayShow {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes contentShow {
    from {
        opacity: 0;
        transform: translate(-50%, -48%) scale(0.96);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

.pin-container {
    margin-top: 1rem;
    gap: 0.6rem;
}

.pin-input {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    font-family: var(--font-poppins);
    border-radius: 0.5rem;
    background-color: rgba(241, 241, 241, 0.40);
    color: rgb(var(--clr-dark-blue));
    border: none;
    font-size: 1rem;
    height: 3rem;
    min-width: 3rem;
}

.pin-input:focus {
    outline: 1px solid rgb(var(--clr-peach));
}

.pin-input[wrong-pin="true"] {
    animation: wrong-pin 600ms ease;
}

.pin-input:valid {
    outline: 1px solid #cd7776;
}

/*Radio group styling*/
.RadioGroupRoot {
    margin-block: 1rem;
    display: flex;
    border-radius: 0.5rem;
    width: 100%;
    border: 1px solid #f1f1f1;
}

.RadioGroupItem {
    background-color: white;
    width: 50%;
    height: 2.5rem;
    position: relative;
    border-radius: 0.5rem;
    border: none;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-family: var(--font-dmsans);
    color: rgb(var(--clr-dark-blue));
}

.RadioGroupItem label {
    z-index: 2;
}

.RadioGroupItem:hover {
    background-color: rgba(241, 241, 241, 0.3);
}

.RadioGroupItem:focus {
    outline: none;
}

.RadioGroupIndicator {
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    bottom: 0;
    justify-content: center;
    outline: 1px solid #cd7776;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 0.5rem;
    z-index: 1;
}

@keyframes wrong-pin {
    0% {
        outline: 1px rgba(255, 0, 0, 0.5) solid;
    }
    15% {
        transform: translateX(-0.4rem);
        outline: 1px rgba(255, 0, 0, 0.5) solid;
    }
    30% {
        transform: translateX(0.4rem);
        outline: 1px rgba(255, 0, 0, 0.5) solid;
    }
    45% {
        transform: translateX(-0.4rem);
        outline: 1px rgba(255, 0, 0, 0.5) solid;
    }
    60% {
        transform: translateX(0.4rem);
        outline: 1px rgba(255, 0, 0, 0.5) solid;
    }
    75% {
        transform: translateX(-0.4rem);
        outline: 1px rgba(255, 0, 0, 0.5) solid;
    }
    90% {
        transform: translateX(0.4rem);
        outline: 1px rgba(255, 0, 0, 0.5) solid;
    }
    100% {
        transform: translateX(0);
        outline: none;
    }
}

/*Vertical Navbar*/
.nav {
    background-color: white;
    color: rgb(var(--clr-dark-blue));
    border-radius: 2rem;
    height: 100%;
    min-width: 28rem;
    max-width: 28rem;
    box-shadow: 0px 0px 90px -50px rgba(0, 0, 0, 0.01);
    font-family: var(--font-dmsans);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-inline: 2rem;
    padding-block: 1rem;
    z-index: 0;
    position: relative;
}

.profile {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    min-height: 6rem;
    max-height: 6rem;
    border-bottom: 1px solid #f1f1f1;
}

.profile-details {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    max-width: 100%;
    width: 100%;
    margin-left: 1rem;
}

.profile-details > p {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.profile-details h1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.2rem;
}

.profile-details > p > span {
    font-family: var(--font-poppins);
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    font-weight: 500;
}

.profile > svg {
    min-width: 4rem;
    max-width: 4rem;
}

.sign-out {
    display: flex;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 0.8rem;
    border: none;
    overflow: clip;
    background-color: #f1f1f1;
    cursor: pointer;
}

.sign-out > svg {
    cursor: pointer;
    color: rgb(var(--clr-dark-blue));
    width: 1.7rem;
}

.content {
    /*background-color: white;*/
    height: 100%;
    width: 100%;
    /*box-shadow: 0px 0px 90px -37px rgba(0,0,0,0.1);*/
}

/*Options*/

.options {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.8rem;
    width: 100%;
    padding-block: 1rem;
    margin-top: 1rem;
}

.choice:hover {
    background-color: #f1f1f1;
}

.choice {
    height: 4rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    color: rgb(var(--clr-dark-blue));
}

.choice > svg {
    max-width: 2.5rem;
    margin-left: 1rem;
}

.choice > p {
    font-family: var(--font-dmsans);
    font-weight: 500;
    font-size: 1.3rem;
    margin-left: 0.5rem;
    /*border-left: 1px solid rgb(var(--clr-dark-blue));*/
    /*padding-left: 1rem;*/
}

.choice > div > span {
    background-color: #f1f1f1;
    padding-inline: 1rem;
    border-radius: 0.4rem;
    padding-block: 0.2rem;
}

.choice > div {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    margin-right: 1rem;
}

.nav-logo {
    position: absolute;
    bottom: 3rem;
    left: 11.2rem;

    width: 5rem;
}

.nav-logo img {
    width: 5rem;
}

/*inocLocker*/
.il-container {
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 0px 0px 90px -50px rgba(0, 0, 0, 0.01);
    border-radius: 2rem;
    color: rgb(var(--clr-dark-blue));
    font-family: var(--font-dmsans);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-inline: 3rem;
    padding-block: 1rem;
}

.il-header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    min-height: 6rem;
    max-height: 6rem;
    border-bottom: 1px solid #f1f1f1;
}

.il-header > p > span {
    font-family: var(--font-poppins);
}

.il-body {

}

.il-buttons {
}

.il-buttons button {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    cursor: pointer;

    background-color: #cd7776;
    font-family: var(--font-poppins) ;
    color: rgb(var(--clr-gray));
    border: none;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.15rem;
    padding: 0.7rem 1.5rem;
    border-radius: 1rem;
}

.il-buttons button > svg {
    width: 1.4rem;
    margin-right: 0.5rem;
}